# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db
*.suo
*.ipch
*\x64\*
*.tlog
*.pdb
*.log
*.ilk
*.vsidx
*.recipe
*.idb
*.lock
*.db-shm
*.opendb
*.db-wal
